<section id="mainSection">
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-0 border-0">
                <div class="card-header rounded-0">
                    <h5 class="card-title text-white text-center" id="username"><%= user.Name %></h5>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary rounded-0" id="sendEmail" data-user="<%= user.Id %>">Send Reset Password Email</button>
                    <% if (displayNotification) { %>
                        <div class="col-12 mb-3 mt-3">
                            <%- notification %>
                        </div>
                    <% } %>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <span data-trans="wordUserId">User Id</span> :  <%= user.Id %>
                        </li>
                        <li class="list-group-item">
                            Email: <%= user.Email %>
                        </li>

                        <li class="list-group-item">
                            Status :  
                            <% if (user.isBanned) { %>
                                <span data-trans="wordBanned">Banned</span>
                            <% } %>
                            <% if (user.isMuted) { %>
                                <span data-trans="wordMuted">Muted</span>
                            <% } %>
                            <% if (!user.isMuted || !user.isBanned) { %>
                                Normal
                            <% } %>
                        </li>
                        
                      </ul>
                    <div class="card rounded-0 border-0">
                        <div class="card-header rounded-0">
                            <h5 class="card-title text-white text-center" id="username">Characters</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" data-trans="wordName">Name</th>
                                        <th scope="col" data-trans="wordClass">Class</th>
                                        <th scope="col">Map</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="playersList">
                                    <% characters.forEach(function(character) { %>
                                    <tr>
                                        <td><%= character.Name %>@<%= user.Name %></td>
                                        <td><%= character.ClassName %></td>
                                        <td><%= character.MapName %></td>
                                        <td>
                                            <a class="btn btn-primary text-decoration-none" href="/player/<%= character.Name %>" data-navigo data-trans="seeCharacter">
                                                See character
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

